<div id="side">
  <div id="basket">
    <%= render @basket %>
  </div>
  
      <ul>
        <li><%= link_to "Home", shop_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Questions", '#' %></li>
        <li><%= link_to "News", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
      <%= render 'layouts/footer' %>
    </div>