
<div id="side">
  <% if @basket %>
    <%= hidden_div_if(@basket.line_items.empty?,  id: 'basket') do %>
      <%= render @basket %>
    <% end %>
  <% end %>
      <ul>
        <li><%= link_to "Home", shop_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "Questions", '#' %></li>
        <li><%= link_to "News", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
      <%= render 'layouts/footer' %>
    </div>